body {
    font-family: Apple Chancery, cursive;
    font-size:14px;
    background-image:url(../img/mini-profile-bg-02.jpg);
}

h1, h2, h3, h4, h5, h6 {
    font-family:Apple Chancery, cursive;
}

h1 {
    line-height:50px;
    font-weight:900;
    font-size:40px;
    padding:50px 20px 5px 20px;
    text-transform:uppercase;
    color:rgb(0, 0, 0);
}

.col-md-6 .col-md-4 .col-md-12 .col-md-3 .col-sm-6 .col-sm-12{
    position: relative;
    float : left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-12 {
    width: 100%;
  }
.col-md-6 {
    width: 50%;
  }
.col-md-4 {
    width: 33.33333333%;
  }
.col-md-3 {
    width: 25%;
  }
.col-sm-6 {
    width: 50%;
  }
.col-sm-12 {
    width: 100%;
  }
  
.text-center {
    text-align:center;
}

h2 {
    line-height:50px;
}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
   padding-top: 25px;
line-height: 40px;
padding-bottom: 0px;
font-size: 22px;
font-weight: 900;
}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}

.g-pad-bottom {
    padding-bottom:40px;
}

section {
    padding-top:20px;
    margin-top:50px;
}

.c-blue {
   background-color:rgb(31, 29, 29);
   opacity: 0.8;
   color:#fff;
}
.form-control {
        background-color: rgba(255, 255, 255, 0);
}


.head-btn-one {
    background-color: rgb(100, 41, 7);
     border: 0px solid #fff;

}
#home-sec {
    background-image: url(../img/emile-perron-xrVDYZRGdw4-unsplash-copy.jpg)
}
#home {
    padding-top:200px;
    padding-bottom:230px;
    color:rgb(0, 0, 0);
}
.head-main {
    font-size:80px ;
    font-weight:900;
    
}
.head-sub-main {
    font-size:40px ;
    font-weight:600;
    padding:5px 20px 10px 20px;
}
.head-last {
    font-size:20px ;
    font-weight:300;
    padding:5px 20px 20px 20px;
}

.btn-lg{
border-radius: 0px; 

}

.navbar {
	font-size: 14px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
  }
.navbar-inverse {
	background: #000000;

}

.plan {
    background: #70776f;
    padding: 0 0 15px 0;
    margin: 30px 0px;
    list-style: none;
    text-align: center;
    opacity: 0.9
}

.plan li {
   padding: 25px 0px;
color: #ffffff;
font-size: 20px;
font-weight: 300;
}

.plan li.plan-head {
    background-color:#000!important;
   padding: 15px 0px;
color: #ffffff;
line-height: 20px;
font-size: 24px;
font-weight: 400;
border: none;
   }


.section-div {
	width: 100%;
	min-height: 100px;
	background-color: rgb(3, 3, 3);
    opacity: 0.7;
	box-shadow: none;
	border: 0;
    padding:20px;
    margin-bottom:30px;
    color:#fff;
    font-size:16px;
    padding-top: 45px;
}
.service-div > i {
    color:#fff;
}

.stats-div {
    text-align:center;
    width: 100%;
    min-height: 100px;
    padding: 30px 20px 30px 20px;
}

.stats-div > h3 {
    font-size:60px;
    font-weight:900;
}

#footer {
    background-color:#000;
    color:#fff;
    padding:20px 50px 20px 50px;
    text-align:right;
}





















